* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  flex-direction: column;
  color: #fff;
}

body {
  background-image: linear-gradient(to right, grey, black);
}

button {
  color: black;
  width: fit-content;
}

input {
  color: black;
  width: fit-content;
}

/* span {
  padding: 2%;
  border-right: 1px #fff solid;
} */

.owf-10x {
  font-size: 10em;
}

.user-input {
  display: flex;
  margin: auto;
  text-align: center;
  width: fit-content;
}

#searchInp {
  margin: auto;
}
#search {
  margin: auto;
  margin-top: 2%;
}

.data {
  margin: auto;
  text-align: center;
  margin-top: 20%;
  width: fit-content;
}

.weatherData {
  border: 4px solid #fff;
  border-radius: 10px;
  width: 225px;
}

.details {
  background-color: #fff;
}

.country {
  border-right: none;
}

.date {
  border: none;
  background-color: lightblue;
  padding: 2%;
}

.more-detail {
  margin-top: 15%;
}

.sun {
  border-right: none;
}

.spinner {
  /* height: 6rem;
  width: 6rem; */
  fill: #f38e82;
  animation: rotate 2s infinite linear;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
